body {
  font-family: monospace;
  background-color: #000000;
}

p {
  color: white;
}

a{
  color: white;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: underline; }

a:active { text-decoration: underline; }