/* Start of "Navigation Bar" code. */

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #525252;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: darkblue;
  color: White;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #cccccc;
  }
}

/* End of "Navagation Bar" code. */

p {
  color: white;
  font-size: 20px;
}

body {
  font-family: monospace;
  background-color: #000000;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.link {
  border-radius: 10%;
}

.link:hover {
  transform: scale(1.02);
}

.link:active {
  transform: scale(0.98);
}